deploy:
  image:
    name: amazon/aws-cli
    entrypoint: [""]
  variables:
    APP_ID: dxunln5kbvyd4
    BRANCH_NAME: Afilia3
    SOURCE_URL: s3://frontamplify/dist.zip
    #SOURCE_URL: http://185.155.61.90:833/projects/$CI_PROJECT_ID/jobs/$JOB_ID/artifacts/dist.zip?job=build&job_token=$CI_JOB_TOKEN
  script:
    - echo "JOB_ID=$CI_JOB_ID" > /home/gitlab-runner/builds/YLW-GLk1/0/desarrollos_internos/afilia3/front/front-backoffice/build.env
    - npm install --legacy-peer-deps
    - ng build --configuration=development
    - cd /home/gitlab-runner/builds/YLW-GLk1/0/desarrollos_internos/afilia3/front/front-backoffice/dist/afilia3
    - zip -r dist.zip ./*
    - cp -a dist.zip /home/gitlab-runner/builds/YLW-GLk1/0/desarrollos_internos/afilia3/front/front-backoffice/
    - cd /home/gitlab-runner/builds/YLW-GLk1/0/desarrollos_internos/afilia3/front/front-backoffice/
    - aws s3 cp dist.zip s3://frontamplify
    - aws amplify start-deployment --app-id $APP_ID --branch-name $BRANCH_NAME --source-url $SOURCE_URL
  #  artifacts:
  #   paths:
  #    - dist.zip
  only:
    - develop
