.ant-layout-sider-children {
  height: 0% !important;
}

.principal {
  height: 70rem;
}

.list-table {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  color: #1890ff;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}

#container {
  background-color: rebeccapurple;
}

.altoAutomatico {
  flex: auto;
  min-height: 70rem !important;
}