<!-- skeleton de los componentes, en este caso solo de usuario -->
<div>
  <div nz-row [nzGutter]="[4, 4]">
    <div  nz-col [nzSpan]="4">
      <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 4, width: ['100%','100%','100%','100%']}" ></nz-skeleton>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 4, width: ['100%','100%','100%','100%'] }" ></nz-skeleton>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 4, width: ['100%','100%','100%','100%'] }" ></nz-skeleton>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 4, width: ['100%','100%','100%','100%'] }"></nz-skeleton>
    </div>
  </div>
</div>

