<!-- componente del pie de la página -->
<footer class="footer">
  <div class="company">
    <div class="copyright"><p> 
      <a href="https://www.ayesa.com" rel="noopener" target="_blank" class="">Ayesa © 2023</a></p>
    </div><div class="legal">
      <a href="https://www.ayesa.com/politica-de-privacidad/" rel="noopener" target="_blank" class="btn btn-link">Política de Privacidad</a>
      <a href="https://www.ayesa.com/aviso-legal/" rel="noopener" target="_blank" class="btn btn-link">Aviso Legal</a>
      <a href="https://www.ayesa.com/politica-de-cookies/" rel="noopener" target="_blank" class="btn btn-link">Politica de Cookies</a>
    </div>
  </div>
</footer>
